@import "tailwindcss";


@theme {
  /* Colors */
  --color-blush: #F3C6D3;
  --color-cream: #FFF8F3;
  --color-black: #000000;
  --color-pink-light: #FFF5F7;
}

/* 3. Custom CSS goes at the bottom */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #FFF5F7;
}
::-webkit-scrollbar-thumb {
  background: #F3C6D3;
  border-radius: 10px;
}